#main-header {
  background: var(--primary-color);
  color: white;
  .header-container {
    padding: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      .avt-wrapper {
        width: 120px;
        img {
          width: 100%;
        }
      }
    }
    .sign {
      a {
        color: white;
        margin-left: 12px;
        padding: 12px 20px;
        border: 1px solid var(--border-color);
        border-radius: 99999px;
        i {
          margin-left: 4px;
        }
      }
      a:hover {
        color: rgb(224, 224, 224);
        background: var(--primary-color-2);
        transition: ease-in .3s;
      }
    }
    .search-form {
      margin-left: 200px;
      margin-right: 32px;
      position: relative;
      flex-grow: 1;
      .search-container {
        input {
          width: 100%;
          padding: 8px 16px;
          border-radius: 9999px;
          border: 1px solid var(--border-color)
        }
        button {
          position: absolute;
          right: 10px;
          background: none;
          top: 50%;
          transform: translateY(-50%);
          color: rgba(0, 0, 0, 0.712);
        }
      }
    }
  }
  .header-menu {
    background: var(--primary-color-2);
    ul {
      list-style: none;
      text-align: center;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        border-bottom: 2px solid rgba(255, 255, 255, 0);
        a {
          padding: 8px 20px;
          display: block;
          color: white;
        }
      }
      li.active {
        border-bottom: 2px solid white;
      }
    }
  }
}